<div class="container">
  <div class="card card-container">
      <div class="logo">
        <span class="blue">F</span>
        <span class="yellow">U</span>
        <span class="green">N</span>
        <span class="blue">D</span>
        <span class="red">O</span>
        <span class="yellow">O</span>
      </div>
      <div class="admin">Admin Login</div>
     
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
          
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address"   required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password"  required>
          
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
          <h6 class="error"></h6>
      </form>
  </div>
</div>